$blue-dc: #0282f9;
$dark-blue-dc: #003f5e;
$white: #ffffff;
$dark-gray: #464646;
$light-gray:#959595;
$footer-bg-gray: #303030;
$darkest-gray: #1c1c1c;
$green-stock: #55ba59;
$green-stock-font: #b0fd9c;