.main-single-comic{
    background-color: $white;
    .blue-banner{
        background-color: $blue-dc;
        height: 70px;
        position: relative;
        .comic-thumb{
            position: absolute;
            top: -250px;
            border: 1px solid $white;
            span{
                position: absolute;
                top: 0px;
                left: 0px;
                color: $white;
                font-size: 0.8rem;
                background-color: $blue-dc;
                padding: 5px;
            }
            a{
                position: absolute;
                bottom: 0px;
                left: 0px;
                color: #ffffff;
                font-size: 0.8rem;
                background-color: #0282f9;
                padding: 2px;
                text-align: center;
                width: 192px;
            }
        }
    }
    .comic-box{
        display: flex;
        .comic-desc{
            padding: 50px 0;
            width: 70%;
            h2{
                text-transform: uppercase;
                color: $dark-blue-dc;
                transform: scale(1, 1.3); /* streching verticale */
            }
            .comic-box-stock{
                height: 50px;
                margin: 20px 0px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $green-stock;
                border-bottom: 1px solid black;
                .comic-box-price{
                    height: 50px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0px 20px;
                    width: 75%;
                    border-right: 1px solid black;
                    span{
                        color: $green-stock-font;
                        var{
                            color: $white;
                            font-style: normal;
                        }
                    }
                }
                .comic-box-availability{
                    height: 50px;
                    width: 25%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $white;
                    a{
                        color: $white;
                    }
                }
            }
            p{
                line-height: 30px;
                font-size: 0.9rem;
            }
        }
        .comic-adv{
            width: 30%;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            h3{
                text-align: right;
                font-size: 0.8rem;
            }
        }
    }
    .comic-box-bottom{
        display: flex;
        .comic-talent{
            width: 50%;
            color: $dark-blue-dc;
            .comic-talent-artists, .comic-talent-writers{
                display: flex;
                padding: 30px 0px;
                h3{
                    font-size: 0.9rem;
                    width: 20%;
                }
                a{
                    font-size: 0.8rem;
                    color: $blue-dc;
                    margin: 0px 50px;
                }
            }
        }
        .comic-specs{
            width: 50%;
            color: $dark-blue-dc;
            div{
                display: flex;
                align-items: baseline;
                padding: 20px 0px;
                h3{
                    font-size: 0.9rem;
                    width: 20%;
                }
                a{
                    color: $blue-dc;
                    font-size: 0.8rem;
                }
                span{
                    font-size: 0.8rem;
                }
            }
        }
    }
}